




body {
    font-family: 'Inter', sans-serif; /* Familia de fuentes */
    font-size: 10%; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #8ba6ff; /* El color del fondo de la página web */
    margin:0;
    align-content: center;
    color:c; /* El color del texto*/ 
}
p:hover{
    font-size: 2200%
}
p{
    color:rgb(251, 244, 255);
    font-family: 'Inter', sans-serif;
    margin-left:20px;
    padding-left: 20px;
    text-align: center;
    padding-right: 30px;
    font-size:2000%;
    transition: font-size 2s
}
